openapi: 3.0.3
info:
  title: HW Mux Reservation System
  version: 2.9.0
servers:
- description: HW Mux Server
  url: https://hwmux.silabs.net
paths:
  /api-token-auth/:
    post:
      operationId: _token_auth_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthToken'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AuthToken'
          application/json:
            schema:
              $ref: '#/components/schemas/AuthToken'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - -token-auth
  /api/devices/:
    get:
      description: Create or update with permissions field support
      operationId: devices_list
      parameters:
      - explode: true
        in: query
        name: date_created
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: is_wstk
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: last_update
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: part
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: part_family
        required: false
        schema:
          title: Part family name
          type: string
        style: form
      - explode: true
        in: query
        name: room
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: uri
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: uri__isnull
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceSerializerPublicList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    post:
      description: Create or update with permissions field support
      operationId: devices_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteOnlyDevice'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/{device_pk}/location/:
    get:
      operationId: devices_location_retrieve
      parameters:
      - explode: false
        in: path
        name: device_pk
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/{id}/:
    delete:
      description: Create or update with permissions field support
      operationId: devices_destroy
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    get:
      description: Create or update with permissions field support
      operationId: devices_retrieve
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSerializerPublic'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    patch:
      description: Create or update with permissions field support
      operationId: devices_partial_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWriteOnlyDevice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedWriteOnlyDevice'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedWriteOnlyDevice'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteOnlyDevice'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    put:
      description: Create or update with permissions field support
      operationId: devices_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteOnlyDevice'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/{id}/permissions/:
    get:
      description: |-
        Get the object-level permissions for this resource. Will return
        user permissions and user group permissions separately. User permissions
         will not include those derived from user group membership.
      operationId: devices_permissions_retrieve
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    patch:
      description: |-
        Partially update the object-level permissions for this resource.
        Can omit top-level fields to leave unchanged.
      operationId: devices_permissions_partial_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
    put:
      description: Update the object-level permissions for this resource.
      operationId: devices_permissions_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/{id}/release/:
    put:
      description: Release a device
      operationId: devices_release_update
      parameters:
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSerializerPublic'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/{id}/reserve/:
    put:
      description: Reserve a device
      operationId: devices_reserve_update
      parameters:
      - description: Additional information such as the jenkins job URL
        explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSerializerPublic'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/list_my/:
    get:
      description: Get devices owned by authenticated user
      operationId: devices_list_my_list
      parameters:
      - explode: true
        in: query
        name: date_created
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: is_wstk
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: last_update
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: part
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: part_family
        required: false
        schema:
          title: Part family name
          type: string
        style: form
      - explode: true
        in: query
        name: room
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: uri
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: uri__isnull
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceSerializerPublicList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/search/:
    get:
      description: |-
        Search by any key-value pair in the device. Search includes nested key-value pairs in the metadata or any other fields in the serialized representation of the device.

        Comparison operations can be specified by doing: key__{oper}=value. Supported operations:

        eq: equals, neq: not equals, re: regular expression, gt: greater than, gte, greater than or equals, lt: less than, lte, less than or equals, in: contains
      operationId: devices_search_list
      parameters:
      - explode: true
        in: query
        name: date_created
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: is_wstk
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: last_update
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: online
        required: false
        schema:
          type: boolean
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: part
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: part_family
        required: false
        schema:
          title: Part family name
          type: string
        style: form
      - explode: true
        in: query
        name: room
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - examples:
          PartNoAndMetadata:
            description: Search by the part_no and by a key-value pair in a metadata
              field
            summary: part_no and metadata
            value: part_no=unknown&is_soc=True
          LastUpdateRegex:
            description: Search by a regular expression matches the last_update field
            summary: last_update regex
            value: last_update__re=^2021
          LocationDescContains:
            description: Search by whether a string is in the loc_desc field
            summary: location_desc contains
            value: location_desc__in=Boston
        explode: true
        in: query
        name: search_key_value_pairs
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: site
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sn_or_name__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: uri
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: uri__isnull
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceSerializerPublicList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/devices/set_offline/:
    post:
      description: |-
        Sets all devices offline which haven't been updated
        in the last hour
      operationId: devices_set_offline_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WriteOnlyDevice'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WriteOnlyDevice'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - devices
  /api/groups/:
    get:
      description: Viewset for DeviceGroup model
      operationId: groups_list
      parameters:
      - explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceGroupList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    post:
      description: Viewset for DeviceGroup model
      operationId: groups_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{group_name}/release_by_name/:
    put:
      operationId: groups_release_by_name_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{group_name}/reserve_by_name/:
    put:
      operationId: groups_reserve_by_name_update
      parameters:
      - description: Additional information such as the jenkins job URL
        explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{id}/:
    delete:
      description: Viewset for DeviceGroup model
      operationId: groups_destroy
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    get:
      description: Viewset for DeviceGroup model
      operationId: groups_retrieve
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    patch:
      description: Viewset for DeviceGroup model
      operationId: groups_partial_update
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDeviceGroupSerializerWithDevicePk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedDeviceGroupSerializerWithDevicePk'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedDeviceGroupSerializerWithDevicePk'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    put:
      description: Viewset for DeviceGroup model
      operationId: groups_update
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroupSerializerWithDevicePk'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{id}/permissions/:
    get:
      description: |-
        Get the object-level permissions for this resource. Will return
        user permissions and user group permissions separately. User permissions
         will not include those derived from user group membership.
      operationId: groups_permissions_retrieve
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    patch:
      description: |-
        Partially update the object-level permissions for this resource.
        Can omit top-level fields to leave unchanged.
      operationId: groups_permissions_partial_update
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
    put:
      description: Update the object-level permissions for this resource.
      operationId: groups_permissions_update
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{id}/release/:
    put:
      description: Viewset for DeviceGroup model
      operationId: groups_release_update
      parameters:
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/{id}/reserve/:
    put:
      description: Viewset for DeviceGroup model
      operationId: groups_reserve_update
      parameters:
      - description: Additional information such as the jenkins job URL
        explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/available/:
    get:
      description: Viewset for DeviceGroup model
      operationId: groups_available_list
      parameters:
      - explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceGroupList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/create-with-devices:
    post:
      description: Create or update with permissions field support
      operationId: groups_create_with_devices_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NestedDeviceGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NestedDeviceGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NestedDeviceGroup'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/groups/my/:
    get:
      description: Viewset for DeviceGroup model
      operationId: groups_my_list
      parameters:
      - explode: true
        in: query
        name: devices
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceGroupList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - groups
  /api/labels/:
    get:
      description: Viewset for DeviceGroup model
      operationId: labels_list
      parameters:
      - explode: true
        in: query
        name: device_groups
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLabelList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    post:
      description: Viewset for DeviceGroup model
      operationId: labels_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelSerializerWithPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
  /api/labels/{id}/:
    delete:
      description: Viewset for DeviceGroup model
      operationId: labels_destroy
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    get:
      description: Viewset for DeviceGroup model
      operationId: labels_retrieve
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Label'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    patch:
      description: Viewset for DeviceGroup model
      operationId: labels_partial_update
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedLabelSerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedLabelSerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedLabelSerializerWithPermissions'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelSerializerWithPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    put:
      description: Viewset for DeviceGroup model
      operationId: labels_update
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LabelSerializerWithPermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabelSerializerWithPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
  /api/labels/{id}/permissions/:
    get:
      description: |-
        Get the object-level permissions for this resource. Will return
        user permissions and user group permissions separately. User permissions
         will not include those derived from user group membership.
      operationId: labels_permissions_retrieve
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    patch:
      description: |-
        Partially update the object-level permissions for this resource.
        Can omit top-level fields to leave unchanged.
      operationId: labels_permissions_partial_update
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedObjectPermissions'
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
    put:
      description: Update the object-level permissions for this resource.
      operationId: labels_permissions_update
      parameters:
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            examples:
              FullPermissionsForAUserAndAUserGroup:
                summary: Full permissions example
                value:
                  users:
                    user1:
                    - view
                    - change
                    - add
                    - delete
                  user_groups:
                    Team 2:
                    - view
                    - change
                    - add
                    - delete
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ObjectPermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                FullPermissionsForAUserAndAUserGroup:
                  summary: Full permissions example
                  value:
                    users:
                      user1:
                      - view
                      - change
                      - add
                      - delete
                    user_groups:
                      Team 2:
                      - view
                      - change
                      - add
                      - delete
              schema:
                $ref: '#/components/schemas/ObjectPermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
  /api/labels/{id}/reserve_any/:
    put:
      description: Viewset for DeviceGroup model
      operationId: labels_reserve_any_update
      parameters:
      - description: Additional information such as the jenkins job URL
        explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - labels
  /api/logs/:
    get:
      operationId: logs_list
      parameters:
      - explode: true
        in: query
        name: caused_by
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: date_after
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: date_before
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: datetime
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: device__sn_or_name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device_group
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: device_group__name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: device_group_label
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: event
        required: false
        schema:
          enum:
          - CR
          - ERR
          - MOD
          - "OFF"
          - "ON"
          - QUE
          - REL
          - RES
          type: string
        style: form
      - description: "Required. 150 characters or fewer. Letters, digits and @/./+/-/_\
          \ only."
        explode: true
        in: query
        name: owner
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLogList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - logs
  /api/logs/{id}:
    delete:
      operationId: logs_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - logs
  /api/logs/{id}/:
    get:
      operationId: logs_retrieve
      parameters:
      - description: A unique integer value identifying this log.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - logs
  /api/part-families/:
    get:
      operationId: part_families_list
      parameters:
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: regex_pattern
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPartFamilyList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    post:
      operationId: part_families_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartFamily'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PartFamily'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PartFamily'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartFamily'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
  /api/part-families/{part_family_pk}/parts/:
    get:
      operationId: part_families_parts_list
      parameters:
      - explode: true
        in: query
        name: board_no
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: chip_no
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: part_family
        required: false
        schema:
          title: Part family name
          type: string
        style: form
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: part_no
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: revision
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: variant
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPartList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    post:
      operationId: part_families_parts_create
      parameters:
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Part'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Part'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
  /api/part-families/{part_family_pk}/parts/{id}/:
    delete:
      operationId: part_families_parts_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    get:
      operationId: part_families_parts_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    patch:
      operationId: part_families_parts_partial_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPart'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPart'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPart'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    put:
      operationId: part_families_parts_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: part_family_pk
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Part'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Part'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
  /api/part-families/{name}/:
    delete:
      operationId: part_families_destroy
      parameters:
      - description: A unique value identifying this part family.
        explode: false
        in: path
        name: name
        required: true
        schema:
          title: Part family name
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    get:
      operationId: part_families_retrieve
      parameters:
      - description: A unique value identifying this part family.
        explode: false
        in: path
        name: name
        required: true
        schema:
          title: Part family name
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartFamily'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    patch:
      operationId: part_families_partial_update
      parameters:
      - description: A unique value identifying this part family.
        explode: false
        in: path
        name: name
        required: true
        schema:
          title: Part family name
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPartFamily'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPartFamily'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPartFamily'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartFamily'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
    put:
      operationId: part_families_update
      parameters:
      - description: A unique value identifying this part family.
        explode: false
        in: path
        name: name
        required: true
        schema:
          title: Part family name
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartFamily'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PartFamily'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PartFamily'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartFamily'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - part-families
  /api/parts/:
    get:
      operationId: parts_list
      parameters:
      - explode: true
        in: query
        name: board_no
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: chip_no
        required: false
        schema:
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: part_family
        required: false
        schema:
          title: Part family name
          type: string
        style: form
      - explode: true
        in: query
        name: part_no
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: revision
        required: false
        schema:
          type: string
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: variant
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPartList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - parts
  /api/parts/{part_no}/:
    get:
      operationId: parts_retrieve
      parameters:
      - description: A unique value identifying this part.
        explode: false
        in: path
        name: part_no
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - parts
  /api/permissions/groups/:
    get:
      operationId: permissions_groups_list
      parameters:
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPermissionGroupList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    post:
      operationId: permissions_groups_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/device_groups/:
    get:
      operationId: permissions_groups_device_groups_list
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Permission types. Only entities with all permissions defined
          here will be fetched. Defaults to all permissions.
        examples:
          EntitiesWithViewPermissions:
            summary: Entities with view permissions
            value: view
          EntitiesWithViewAndChangePermissions:
            summary: Entities with view and change permissions
            value: "view,change"
        explode: true
        in: query
        name: perms
        required: false
        schema:
          default: "view,change,add,delete"
          enum:
          - add
          - "add,delete"
          - change
          - "change,add"
          - "change,add,delete"
          - "change,delete"
          - delete
          - view
          - "view,add"
          - "view,add,delete"
          - "view,change"
          - "view,change,add"
          - "view,change,add,delete"
          - "view,change,delete"
          - "view,delete"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceGroupList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    post:
      operationId: permissions_groups_device_groups_create
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/device_groups/{id}/:
    delete:
      operationId: permissions_groups_device_groups_destroy
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    patch:
      operationId: permissions_groups_device_groups_partial_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    put:
      operationId: permissions_groups_device_groups_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/devices/:
    get:
      operationId: permissions_groups_devices_list
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Permission types. Only entities with all permissions defined
          here will be fetched. Defaults to all permissions.
        examples:
          EntitiesWithViewPermissions:
            summary: Entities with view permissions
            value: view
          EntitiesWithViewAndChangePermissions:
            summary: Entities with view and change permissions
            value: "view,change"
        explode: true
        in: query
        name: perms
        required: false
        schema:
          default: "view,change,add,delete"
          enum:
          - add
          - "add,delete"
          - change
          - "change,add"
          - "change,add,delete"
          - "change,delete"
          - delete
          - view
          - "view,add"
          - "view,add,delete"
          - "view,change"
          - "view,change,add"
          - "view,change,add,delete"
          - "view,change,delete"
          - "view,delete"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDeviceSerializerPublicList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    post:
      operationId: permissions_groups_devices_create
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/devices/{id}/:
    delete:
      operationId: permissions_groups_devices_destroy
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    patch:
      operationId: permissions_groups_devices_partial_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    put:
      operationId: permissions_groups_devices_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/labels/:
    get:
      operationId: permissions_groups_labels_list
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Permission types. Only entities with all permissions defined
          here will be fetched. Defaults to all permissions.
        examples:
          EntitiesWithViewPermissions:
            summary: Entities with view permissions
            value: view
          EntitiesWithViewAndChangePermissions:
            summary: Entities with view and change permissions
            value: "view,change"
        explode: true
        in: query
        name: perms
        required: false
        schema:
          default: "view,change,add,delete"
          enum:
          - add
          - "add,delete"
          - change
          - "change,add"
          - "change,add,delete"
          - "change,delete"
          - delete
          - view
          - "view,add"
          - "view,add,delete"
          - "view,change"
          - "view,change,add"
          - "view,change,add,delete"
          - "view,change,delete"
          - "view,delete"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLabelList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    post:
      operationId: permissions_groups_labels_create
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/ResourcePermissions'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/labels/{id}/:
    delete:
      operationId: permissions_groups_labels_destroy
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    patch:
      operationId: permissions_groups_labels_partial_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedResourcePermissions'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePermissions'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    put:
      operationId: permissions_groups_labels_update
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - description: A unique integer value identifying this device group label.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResourcePermissions'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/users/:
    post:
      operationId: permissions_groups_users_create
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/User'
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                $ref: '#/components/schemas/User'
              type: array
          multipart/form-data:
            schema:
              items:
                $ref: '#/components/schemas/User'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{group_name}/users/{username}/:
    delete:
      operationId: permissions_groups_users_destroy
      parameters:
      - explode: false
        in: path
        name: group_name
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: username
        required: true
        schema:
          description: "Required. 150 characters or fewer. Letters, digits and @/./+/-/_\
            \ only."
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/permissions/groups/{name}/:
    delete:
      operationId: permissions_groups_destroy
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    get:
      operationId: permissions_groups_retrieve
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    patch:
      operationId: permissions_groups_partial_update
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPermissionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedPermissionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedPermissionGroup'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
    put:
      operationId: permissions_groups_update
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PermissionGroup'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionGroup'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - permissions
  /api/reservations/:
    get:
      operationId: reservations_list
      parameters:
      - explode: true
        in: query
        name: a_device_groups
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: a_devices
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: details
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: id
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: Which field to use when ordering the results.
        explode: true
        in: query
        name: ordering
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: owner
        required: false
        schema:
          type: integer
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: r_device_group_labels
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: r_device_groups
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - explode: true
        in: query
        name: r_devices
        required: false
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: A search term.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: t_completed
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_completed__after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_completed__before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_completed__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: t_lease_expires
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_lease_expires__after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_lease_expires__before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_lease_expires__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: t_requested
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_requested__after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_requested__before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_satisfied
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_satisfied__after
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_satisfied__before
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: t_satisfied__isnull
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: use_watchdog
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedReservationSessionSerializerReadOnlyList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - reservations
    post:
      operationId: reservations_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationSessionSerializerReadOnly'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - reservations
  /api/reservations/{id}/:
    get:
      operationId: reservations_retrieve
      parameters:
      - description: A UUID string identifying this reservation session.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
[...]
